h1 {
    border: 2px solid hsl(262, 100%, 56%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
p {
    border-bottom: 3px solid rgb(252, 28, 28);
    border-top: 3px solid rgb(252, 255, 35);
    border-left: 3px dotted rgb(28, 252, 28);
    border-right: 3px dotted rgb(255, 179, 37);
    border-radius: 10px;
}