body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
    color: #343a40;
}

.card {
    border-left: 5px solid #0d6efd;
}
.navbar-brand img {
    border-radius: 5px;
}
