.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 10%);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.cardImage {
    width: 200px;
    height: 200px;
    padding-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.cardTitle{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0, 20%);
}
.cardText{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0, 30%);
}